
  
  <style>
    .gps-473555089143890950 .-translate-y-1\/2,.gps-473555089143890950 .mobile\:-translate-y-1\/2,.gps-473555089143890950 .mobile\:rotate-0,.gps-473555089143890950 .mobile\:rotate-180,.gps-473555089143890950 .mobile\:translate-x-0,.gps-473555089143890950 .mobile\:translate-y-1\/2,.gps-473555089143890950 .rotate-0,.gps-473555089143890950 .rotate-180,.gps-473555089143890950 .tablet\:-translate-y-1\/2,.gps-473555089143890950 .tablet\:rotate-0,.gps-473555089143890950 .tablet\:rotate-180,.gps-473555089143890950 .tablet\:translate-x-0,.gps-473555089143890950 .tablet\:translate-y-1\/2,.gps-473555089143890950 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-473555089143890950 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-473555089143890950 .btn-disabled{cursor:default}.gps-473555089143890950 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-473555089143890950 .g-s-medium{padding:8px 24px}.gps-473555089143890950 .g-s-tag-medium{padding:4px 12px}.gps-473555089143890950 .pointer-events-none{pointer-events:none}.gps-473555089143890950 .invisible{visibility:hidden}.gps-473555089143890950 .absolute{position:absolute}.gps-473555089143890950 .relative{position:relative}.gps-473555089143890950 .inset-0{inset:0}.gps-473555089143890950 .bottom-1\/2{bottom:50%}.gps-473555089143890950 .left-4{left:16px}.gps-473555089143890950 .right-4{right:16px}.gps-473555089143890950 .top-1\/2{top:50%}.gps-473555089143890950 .\!m-0{margin:0!important}.gps-473555089143890950 .mx-auto{margin-left:auto;margin-right:auto}.gps-473555089143890950 .mb-0{margin-bottom:0}.gps-473555089143890950 .mt-2{margin-top:8px}.gps-473555089143890950 .block{display:block}.gps-473555089143890950 .inline-block{display:inline-block}.gps-473555089143890950 .flex{display:flex}.gps-473555089143890950 .inline-flex{display:inline-flex}.gps-473555089143890950 .grid{display:grid}.gps-473555089143890950 .contents{display:contents}.gps-473555089143890950 .\!hidden{display:none!important}.gps-473555089143890950 .hidden{display:none}.gps-473555089143890950 .aspect-square{aspect-ratio:1/1}.gps-473555089143890950 .h-5{height:20px}.gps-473555089143890950 .h-6{height:24px}.gps-473555089143890950 .h-fit{height:-moz-fit-content;height:fit-content}.gps-473555089143890950 .h-full{height:100%}.gps-473555089143890950 .w-5{width:20px}.gps-473555089143890950 .w-6{width:24px}.gps-473555089143890950 .w-\[12px\]{width:12px}.gps-473555089143890950 .w-full{width:100%}.gps-473555089143890950 .max-w-full{max-width:100%}.gps-473555089143890950 .flex-1{flex:1 1 0%}.gps-473555089143890950 .shrink-0{flex-shrink:0}.gps-473555089143890950 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-473555089143890950 .-translate-y-1\/2,.gps-473555089143890950 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-473555089143890950 .translate-y-1\/2{--tw-translate-y:50%}.gps-473555089143890950 .rotate-0{--tw-rotate:0deg}.gps-473555089143890950 .rotate-0,.gps-473555089143890950 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-473555089143890950 .rotate-180{--tw-rotate:180deg}@keyframes spin{to{transform:rotate(1turn)}}.gps-473555089143890950 .animate-spin{animation:spin 1s linear infinite}.gps-473555089143890950 .cursor-pointer{cursor:pointer}.gps-473555089143890950 .flex-row{flex-direction:row}.gps-473555089143890950 .flex-row-reverse{flex-direction:row-reverse}.gps-473555089143890950 .flex-col{flex-direction:column}.gps-473555089143890950 .flex-wrap{flex-wrap:wrap}.gps-473555089143890950 .items-start{align-items:flex-start}.gps-473555089143890950 .items-end{align-items:flex-end}.gps-473555089143890950 .items-center{align-items:center}.gps-473555089143890950 .justify-start{justify-content:flex-start}.gps-473555089143890950 .justify-center{justify-content:center}.gps-473555089143890950 .gap-2{gap:8px}.gps-473555089143890950 .gap-3{gap:12px}.gps-473555089143890950 .overflow-hidden{overflow:hidden}.gps-473555089143890950 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-473555089143890950 .break-words{overflow-wrap:break-word}.gps-473555089143890950 .rounded-full{border-radius:9999px}.gps-473555089143890950 .bg-black\/50{background-color:rgba(0,0,0,.5)}.gps-473555089143890950 .p-\[1px\]{padding:1px}.gps-473555089143890950 .px-1{padding-left:4px;padding-right:4px}.gps-473555089143890950 .text-center{text-align:center}.gps-473555089143890950 .leading-\[0\]{line-height:0}.gps-473555089143890950 .text-g-text-3{color:var(--g-c-text-3)}.gps-473555089143890950 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-473555089143890950 .line-through{text-decoration-line:line-through}.gps-473555089143890950 .no-underline{text-decoration-line:none}.gps-473555089143890950 .decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-473555089143890950 .opacity-0{opacity:0}.gps-473555089143890950 .opacity-25{opacity:.25}.gps-473555089143890950 .opacity-30{opacity:.3}.gps-473555089143890950 .opacity-75{opacity:.75}.gps-473555089143890950 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-473555089143890950 .outline{outline-style:solid}.gps-473555089143890950 .outline-1{outline-width:1px}.gps-473555089143890950 .-outline-offset-1{outline-offset:-1px}.gps-473555089143890950 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-473555089143890950 .transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-473555089143890950 .duration-100{transition-duration:.1s}.gps-473555089143890950 .duration-200{transition-duration:.2s}.gps-473555089143890950 .duration-300{transition-duration:.3s}.gps-473555089143890950 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-473555089143890950 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-473555089143890950 .hover\:text-g-text-3:hover{color:var(--g-c-text-3)}}.gps-473555089143890950 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-473555089143890950 .disabled\:cursor-default:disabled{cursor:default}.gps-473555089143890950 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-473555089143890950 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-473555089143890950 .group:hover .group-hover\:opacity-100{opacity:1}}.gps-473555089143890950 .data-\[disabled\=true\]\:hidden[data-disabled=true]{display:none}.gps-473555089143890950 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}.gps-473555089143890950 .data-\[hidden\=true\]\:hidden[data-hidden=true]{display:none}.gps-473555089143890950 .data-\[outline\=active\]\:outline[data-outline=active]{outline-style:solid}.gps-473555089143890950 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-473555089143890950 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-473555089143890950 .scrollbar-thumb\:rounded-2xl::-webkit-scrollbar-thumb,.gps-473555089143890950 .scrollbar-track\:rounded-2xl::-webkit-scrollbar-track{border-radius:16px}.gps-473555089143890950 .scrollbar-thumb\:bg-gray-400::-webkit-scrollbar-thumb{--tw-bg-opacity:1;background-color:rgb(156 163 175/var(--tw-bg-opacity))}@media (max-width:1023px){.gps-473555089143890950 .tablet\:bottom-1\/2{bottom:50%}.gps-473555089143890950 .tablet\:left-4{left:16px}.gps-473555089143890950 .tablet\:right-4{right:16px}.gps-473555089143890950 .tablet\:top-1\/2{top:50%}.gps-473555089143890950 .tablet\:mt-2{margin-top:8px}.gps-473555089143890950 .tablet\:block{display:block}.gps-473555089143890950 .tablet\:inline{display:inline}.gps-473555089143890950 .tablet\:\!hidden{display:none!important}.gps-473555089143890950 .tablet\:w-full{width:100%}.gps-473555089143890950 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-473555089143890950 .tablet\:-translate-y-1\/2,.gps-473555089143890950 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-473555089143890950 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-473555089143890950 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-473555089143890950 .tablet\:rotate-0,.gps-473555089143890950 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-473555089143890950 .tablet\:rotate-0{--tw-rotate:0deg}.gps-473555089143890950 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-473555089143890950 .tablet\:flex-row{flex-direction:row}.gps-473555089143890950 .tablet\:flex-col{flex-direction:column}.gps-473555089143890950 .tablet\:justify-start{justify-content:flex-start}.gps-473555089143890950 .tablet\:px-0{padding-left:0;padding-right:0}.gps-473555089143890950 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-473555089143890950 .mobile\:bottom-1\/2{bottom:50%}.gps-473555089143890950 .mobile\:left-4{left:16px}.gps-473555089143890950 .mobile\:right-4{right:16px}.gps-473555089143890950 .mobile\:top-1\/2{top:50%}.gps-473555089143890950 .mobile\:mt-2{margin-top:8px}.gps-473555089143890950 .mobile\:block{display:block}.gps-473555089143890950 .mobile\:inline{display:inline}.gps-473555089143890950 .mobile\:\!hidden{display:none!important}.gps-473555089143890950 .mobile\:w-full{width:100%}.gps-473555089143890950 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-473555089143890950 .mobile\:-translate-y-1\/2,.gps-473555089143890950 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-473555089143890950 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-473555089143890950 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-473555089143890950 .mobile\:rotate-0,.gps-473555089143890950 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-473555089143890950 .mobile\:rotate-0{--tw-rotate:0deg}.gps-473555089143890950 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-473555089143890950 .mobile\:flex-row{flex-direction:row}.gps-473555089143890950 .mobile\:flex-col{flex-direction:column}.gps-473555089143890950 .mobile\:justify-start{justify-content:flex-start}.gps-473555089143890950 .mobile\:px-0{padding-left:0;padding-right:0}.gps-473555089143890950 .mobile\:pl-1{padding-left:4px}}.gps-473555089143890950 .\[\&\>svg\]\:h-auto>svg{height:auto}.gps-473555089143890950 .\[\&\>svg\]\:w-full>svg{width:100%}.gps-473555089143890950 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gO73tJfrth"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:var(--g-s-4xl);--pb:var(--g-s-4xl);--pt-mobile:70px;--pl-mobile:15px;--pb-mobile:70px;--pr-mobile:15px;--pt-tablet:70px;--pl-tablet:15px;--pb-tablet:70px;--pr-tablet:15px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gO73tJfrth mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGZMSv6gWi relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g9CQINHD63"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9CQINHD63 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gFoqpuYtE3 relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-m);--mb-mobile:14px" class="gyzzRtO2a9 ">
      
    <div
      parentTag="Col"
        class="gyzzRtO2a9"
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="break-words gp-text"
        style="--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:130%;--size:33px;--size-tablet:33px;--size-mobile:29px"
      >
      <p>New Arrivals</p>
      </h2>
    </div>
      </div><div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-2xl);--mb-mobile:21px;--ta:center"
    class=""
  >
    <a
      href="#" target="_self" data-id="g9kQUBa5Zs" aria-label="See All Collection"
      data-state="idle"
      class="g9kQUBa5Zs max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none flex-row-reverse g-paragraph-1 g-s-medium"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--hvr-c:#242424;--c:#242424;--tt:default;--bs:solid;--bw:1px 1px 1px 1px;--bc:transparent"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible"
        style="--ml:8px;--w:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 52.672a16 16 0 0 1 22.656 0l192 192a16 16 0 0 1 0 22.656l-192 192a16 16 0 0 1 -22.656 -22.656L329.376 256 148.672 75.328a16 16 0 0 1 0 -22.656z" /></svg></span>
      <span
        class="truncate group-data-[state=loading]:invisible "
        style="--tt:default"
      >
        See All Collection
      </span>
    </a>
  </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gSD-Wl87ws"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:1400px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSD-Wl87ws mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gbJWdFfQfD relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small)" class="g8NZlBHM7i ">
       
<script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product.js" defer="defer"></script>
{%- assign gpBkProduct = product -%}
{%- assign gpBkProducts = products -%}
{%- liquid
      assign productHandles = ''| split: ','
      assign products = null
      assign target_collection = null
      assign productSrc = 'PickProduct'
      assign c = 0

      if productSrc == 'DynamicCollection'
        assign target_collection = collection 
      else
        if Latest != 'latest'
          for collection in collections
            if collection.id == Latest 
              assign target_collection = collection 
              break 
            endif
          endfor 
        endif
      endif

      if productSrc == 'PickProduct'
        if 0 == 0
          paginate collections.all.products by 100000
            assign products = collections.all.products  | sort : "created_at"  | reverse 
          endpaginate
        endif
      else
        if 'latest' == 'latest'
          assign latest_collection = collections | sort: 'updated_at'  | first 
          paginate latest_collection.products by 4
            assign products = latest_collection.products  
          endpaginate
        else
          paginate target_collection.products by 4
            assign products = target_collection.products  
          endpaginate
        endif
      endif
      -%}
    
    {%- if products == null -%}
        <div> Product Not Found!</div>
    {%-else-%}
      
      
    <div  style="--w:100%;--w-tablet:100%;--w-mobile:100%;--rg:30px;--rg-mobile:28px;--cg:30px;--cg-mobile:24px;--gtc:repeat(4, minmax(0, 1fr));--gtc-tablet:repeat(4, minmax(0, 1fr));--gtc-mobile:repeat(2, minmax(0, 1fr))"
          class="grid !m-0 w-full"
      >
        
        {%- for productItem in products   limit: 4  -%}
        {%- assign product =  productItem -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
        {%- assign product_form_id = 'product-form-' | append: "g8NZlBHM7i" | append: product.id -%}
            <gp-product gp-context='{"variantSelected": {{ variant | json | escape }}, "quantity": 1 ,  "formId": "{{ product_form_id }}"}' gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
              {%- form 'product', product, id: product_form_id, class: 'form contents',  data-type: 'add-to-cart-form', autocomplete: 'off' -%}
              <input type="hidden" name="id" value="{{ variant.id }}" />
              <input type="hidden" min="1" name="quantity"  value="{{ quantity }}" />
              <button type="submit" onclick="return false;" style="display:none;"></button> 
                      
      
      
    <div
      parentTag="ProductList" id="ghgY458gk4"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:relative;--radius:var(--g-radius-small);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghgY458gk4 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gV4T9daHnP relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--left:16px;--op:100%;--pos:absolute;--radius:var(--g-radius-small);--top:16px;--z:99" class="gErq9zBIi5 ">
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product-tag.js" defer="defer"></script>
  {% liquid 
    assign price = variant.price | times: 1.0
    assign salePrice = variant.compare_at_price | times: 1.0
    assign priceSave = salePrice | minus: price
    if salePrice == null or price == null
      assign pricePercentage = ' ' | append: '0%' | append: ' off'
    else 
         assign salePercent = priceSave | divided_by: salePrice | times: 100  | ceil 
                assign pricePercentage = ' ' | append: salePercent | append: '%' | append: ' off'
              
    endif
  %}

   <gp-product-tag
    data-disabled="{%- if priceSave > 0 -%} false {%- else -%} true {%- endif -%}"
    gp-data='{"setting":{"customContent":{"prefix":"","suffix":"off","unit":"percentage"}}, "id": "gErq9zBIi5", "locale": "{{shop.locale}}", "currency": "{{shop.currency}}", "moneyFormat": "{{ shop.money_format | replace: '"', "'" }}"  }'
    class="block data-[disabled=true]:hidden"
    style="--ta:left"
  >
 
     <div class="inline-flex flex-wrap items-end gap-3">
       <div
         class="inline-block text-g-text-3 g-s-tag-medium"
         style="--bs:none;--bw:0px;--bc:transparent;--bg:#EA3335;--radius:var(--g-radius-large)"
       >
      
         
    <div
      id="p-tag-gErq9zBIi5"
        class=""
        style=""
      >
      <div
        data-gp-text
        class="break-words text-g-text-3"
        style="--ta:left;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px"
      >
      {{pricePercentage}}
      </div>
    </div>
       </div>
     </div>

 </gp-product-tag>
   
      </div>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product-images.js" defer="defer"></script>
  {% assign featured_image = product.featured_image %}
  {%- if variant != null and variant.featured_image != null -%}
  {% assign featured_image = variant.featured_image %}
  {%- endif -%}
  <gp-product-images 
    gp-data='
    {
      "id":"gB8gNC2JOT",
      "setting":{"arrow":{"desktop":true,"mobile":true,"tablet":true},"arrowIcon":"","clickEffect":"none","controlOverContent":{"desktop":true},"dot":{"desktop":false},"dragToScroll":true,"featureImageVisible":{"desktop":true,"mobile":true,"tablet":true},"galleryClickEffect":"preview","galleryVisible":{"desktop":false,"mobile":false,"tablet":false},"hoverEffect":"none","largeViewInPopup":{"desktop":false,"mobile":false,"tablet":false},"loop":{"desktop":true,"mobile":true,"tablet":true},"numberPerRow":{"desktop":6},"otherImage":0,"pauseOnHover":true,"showActiveStatus":true,"slidesToShow":{"desktop":1},"speed":1,"type":{"desktop":"images","mobile":"images","tablet":"images"},"zoom":1.5,"zoomType":"default"},
      "styles":{"align":{"desktop":"center","mobile":"flex-start","tablet":"flex-start"},"aspectHeight":{"desktop":0,"mobile":0,"tablet":0},"aspectRatio":{"desktop":"1","mobile":"1","tablet":"1"},"aspectWidth":{"desktop":0,"mobile":0,"tablet":0},"customAspectRadio":{"desktop":{"height":0,"width":0},"mobile":{"height":0,"width":0},"tablet":{"height":0,"width":0}},"dotActiveColor":{"desktop":"brand"},"dotColor":{"desktop":"bg-1"},"ftAlign":{"desktop":"center","mobile":"center","tablet":"center"},"ftAspectHeight":{"desktop":0,"mobile":0,"tablet":0},"ftAspectRatio":{"desktop":"auto","mobile":"auto","tablet":"auto"},"ftAspectWidth":{"desktop":0,"mobile":0,"tablet":0},"ftCustomAspectRadio":{"desktop":{"height":0,"width":0},"mobile":{"height":0,"width":0},"tablet":{"height":0,"width":0}},"ftFullWidth":{"desktop":true,"mobile":true,"tablet":true},"ftLayout":{"desktop":"cover","mobile":"cover","tablet":"cover"},"ftWidth":{"desktop":"100%","mobile":"100%","tablet":"100%"},"fullWidth":{"desktop":true,"mobile":true,"tablet":true},"gallerySpacing":{"desktop":"5px","mobile":"var(--g-s-s)"},"height":{"desktop":"100px","mobile":"auto","tablet":"auto"},"layout":{"desktop":"cover","mobile":"cover","tablet":"cover"},"position":{"desktop":"bottom-left","mobile":"bottom-left","tablet":"bottom-left"},"spacing":{"desktop":"5px","mobile":"var(--g-s-s)"},"verticalLayout":{"desktop":false},"width":{"desktop":"100px","mobile":"300px","tablet":"300px"}}, "product":{{product | json | escape}}
    }
  ' 
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mt-mobile:0px;--mb-mobile:0px"
    class=""
  >
    <div
        class="flex w-full flex-col tablet:flex-col mobile:flex-col"
        style="--ai:center;--ai-tablet:start;--ai-mobile:start"
      >
        <div
  class="featured-image-root gp-product-images-ft flex"
  style="--jc:flex-start;--jc-tablet:flex-start;--jc-mobile:flex-start;--d:flex;--d-mobile:flex;--d-tablet:flex;--w:100%;--w-tablet:100%;--w-mobile:100%"
>
  <div role="presentation" 
    class="featured-image-wrapper relative flex w-full overflow-hidden"
    style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto"
  >
  <div class="flex w-full items-start justify-center">
  <div class="featured-image group relative w-full overflow-hidden">
    <img
    id="{%- if featured_image != null -%}
            {{featured_image.id}}
            {%- endif -%}"
    draggable="false"
    class="w-full featured-image-only w-full transition-opacity gp_lazyload"
    data-src="{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%}" data-srcset="{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 768w,{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 1024w,{%- if featured_image != null -%}
              {{featured_image.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{%- if featured_image != null -%}
              {{featured_image.width}}
              {%- endif -%}" height="{%- if featured_image != null -%}
                {{featured_image.height}}
                {%- endif -%}" alt="{%- if featured_image != null -%}
              {{featured_image.alt}}
              {%- endif -%}" priority
    sizes="100vw"
    style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w:100%"
  />
    
    
  </div>
  </div>
  </div>
</div>
        {%- if product.images.size > 1 -%}
          <div
            class="gallery-wrapper gp-product-images-gallery inline-flex h-fit max-w-full justify-start tablet:justify-start mobile:justify-start"
            style="--fs:1.23;--d:none;--d-mobile:none;--d-tablet:none;--w:100px;--w-tablet:300px;--w-mobile:300px;--mt:5px;--mr:0px;--ml:0px;--mt-mobile:var(--g-s-s);--mr-mobile:0px;--ml-mobile:0px;--mt-tablet:5px;--mr-tablet:0px;--ml-tablet:0px"
          >
            
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel type="grid-carousel" id="gp-root-carousel-gB8gNC2JOT-{{product.id}}" class="flex-1 w-full carousel-gallery"  gp-data='{"id":"gB8gNC2JOT-{{product.id}}","setting":{"loop":{"desktop":true,"mobile":true,"tablet":true},"slidesToShow":{"desktop":1,"mobile":1,"tablet":1},"dot":{"desktop":false,"tablet":false,"mobile":false},"arrow":{"desktop":true,"mobile":true,"tablet":true},"controlOverContent":{"desktop":true},"enableDrag":true,"vertical":{"desktop":false,"mobile":false,"tablet":false},"dotActiveColor":{"desktop":"brand"},"dotColor":{"desktop":"bg-1"},"arrowCustom":""},"styles":{"fullWidth":{"desktop":true,"mobile":true,"tablet":true},"height":{"desktop":"100px","mobile":"auto","tablet":"auto"},"width":{"desktop":"100%","tablet":"100%","mobile":"100%"},"spacing":{"desktop":5,"tablet":5,"mobile":5},"adaptiveHeight":{"desktop":true,"mobile":true,"tablet":true}},"isHiddenArrowWhenDisabled":true}' style="--d:none;--d-mobile:none;--d-tablet:none">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative px-1 tablet:px-0 mobile:px-0 gp-carousel-wrapper mobile:block tablet:block block"
        style="--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;visibility:hidden"
      >
        <div
          class="h-full"
        >
          <div id="gp-carousel-gB8gNC2JOT-{{product.id}}" class="gem-slider h-full overflow-hidden">
            
    {%- if product.images.size > 1 -%}
    {%- for image in product.images -%}
        {%- if featured_image != null and image.id == featured_image.id -%}
          
    <div
      data-outline="active"
      id="{{image.id}}"
      style="outline-color:var(--g-c-brand, brand)"
      class="gem-slider-item w-full gem-slider-item-gB8gNC2JOT-{{product.id}} group flex w-full items-center justify-center overflow-hidden outline-1 -outline-offset-1 image-item data-[outline=active]:outline p-[1px]"
    >
      
      <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}} 768w,{{image.src | product_img_url: '1024x1024'}} 1024w,{{image.src | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w:100%;--w-tablet:100%;--w-mobile:100%"
  />

      <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
      style="--d: none;--d-mobile: none;--d-tablet: none;" 
      >
        <svg
          height="100%"
          width="100%"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          viewBox="0 0 512 512"
          color="#fff"
        >
          <path
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
          />
        </svg>
      </div>
    
    </div>
  
          {% else %}
          
    <div
      data-outline="deactive"
      id="{{image.id}}"
      style="outline-color:var(--g-c-brand, brand)"
      class="gem-slider-item w-full gem-slider-item-gB8gNC2JOT-{{product.id}} group flex w-full items-center justify-center overflow-hidden outline-1 -outline-offset-1 image-item data-[outline=active]:outline undefined"
    >
      
      <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}} 768w,{{image.src | product_img_url: '1024x1024'}} 1024w,{{image.src | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w:100%;--w-tablet:100%;--w-mobile:100%"
  />

      <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
      style="--d: none;--d-mobile: none;--d-tablet: none;" 
      >
        <svg
          height="100%"
          width="100%"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          viewBox="0 0 512 512"
          color="#fff"
        >
          <path
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
          />
        </svg>
      </div>
    
    </div>
  
        {%- endif -%}
    {% endfor %}
    {%- endif -%}
    
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back gB8gNC2JOT-{{product.id}} absolute h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:inline mobile:inline left-4 tablet:left-4 tablet:translate-x-0 tablet:pl-1 mobile:left-4 mobile:translate-x-0 mobile:pl-1 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <span class="inline-flex h-6 w-6 items-center justify-center">
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
          </svg>
    </span>
    </button>
  

        
    <button
      class="gp-carousel-action-next gB8gNC2JOT-{{product.id}} absolute h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:inline mobile:inline right-4 tablet:right-4 tablet:translate-x-0 tablet:pl-1 mobile:right-4 mobile:translate-x-0 mobile:pl-1 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <span class="inline-flex h-6 w-6 items-center justify-center">
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
          </svg>
    </span>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-gB8gNC2JOT-{{product.id}} hidden flex-row w-full mt-2 tablet:!hidden tablet:flex-row tablet:w-full tablet:mt-2 mobile:!hidden mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  
  
            
  <div type="grid-gallery"
    class="grid-gallery flex h-fit w-full flex-wrap scrollbar-track:rounded-2xl scrollbar-thumb:rounded-2xl scrollbar-thumb:bg-gray-400"
    style="--d:flex;--d-mobile:flex;--d-tablet:flex;--gg:5px;--gg-tablet:5px;--gg-mobile:5px"
  > 
    {%- if product.images.size > 1 -%}
    {%- for image in product.images -%}
      {%- if featured_image != null and image.id == featured_image.id -%}
      <div aria-hidden id="{{image.id}}" data-outline="active" class="image-item p-[1px] data-[outline=active]:outline group relative overflow-hidden outline-1 -outline-offset-1 cursor-pointer"
    style="--aspect: 1;--aspect-tablet: 1;--aspect-mobile: 1;--w: calc(16.666666666666668% - 4.166666666666667px);--w-tablet: calc(20% - 4px);--w-mobile: calc(20% - 4px);outline-color: var(--g-c-brand, brand);max-width: 100%;"
    >
  
    <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}} 768w,{{image.src | product_img_url: '1024x1024'}} 1024w,{{image.src | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;width:100%;height:100%;--w:100%"
  />

  <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
  style="--d: none;--d-mobile: none;--d-tablet: none;" >
    <svg
      height="100%"
      width="100%"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      viewBox="0 0 512 512"
      color="#fff"
    >
      <path
        fill="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
      />
    </svg>
  </div>
  </div>
      {% else %}
      <div aria-hidden id="{{image.id}}" data-outline="deactive" class="image-item undefined data-[outline=active]:outline group relative overflow-hidden outline-1 -outline-offset-1 cursor-pointer"
    style="--aspect: 1;--aspect-tablet: 1;--aspect-mobile: 1;--w: calc(16.666666666666668% - 4.166666666666667px);--w-tablet: calc(20% - 4px);--w-mobile: calc(20% - 4px);outline-color: var(--g-c-brand, brand);max-width: 100%;"
    >
  
    <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{image.src | product_img_url: '1024x1024'}}" data-srcset="{{image.src | product_img_url: '1024x1024'}} 768w,{{image.src | product_img_url: '1024x1024'}} 1024w,{{image.src | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;width:100%;height:100%;--w:100%"
  />

  <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
  style="--d: none;--d-mobile: none;--d-tablet: none;" >
    <svg
      height="100%"
      width="100%"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      viewBox="0 0 512 512"
      color="#fff"
    >
      <path
        fill="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
      />
    </svg>
  </div>
  </div>
      {%- endif -%}
    {% endfor %}
    {%- endif -%}
  </div>
          </div>
        {%- endif -%}
      </div>
  </gp-product-images>
  
    </div>
    </div>
  
    
      
      
    <div
      parentTag="ProductList" id="gKSoKV_BG1"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:relative;--radius:var(--g-radius-small);--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-xl);--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKSoKV_BG1 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gg6eWsGxIE relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-l);--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-m)" class="ghZ6ANAcOz ">
      
    {%- unless product -%}
      <p>Product not found</p>
    {%- else -%}
      
        <a href="{{ product.url }}" title="{{ product.title }}">
        
    <div
      
        class=""
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="break-words"
        style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:12px"
      >
      {{ product.title }}
      </h2>
    </div>
        </a>
      
    {%- endunless -%}
  
      </div>
      
      
    <div
      parentTag="Col" id="ghJPYc-xoW"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--cg:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghJPYc-xoW mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guzl4MPCpf relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gQFSiKQrg0"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xs);--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQFSiKQrg0 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyrstwsjB2 relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product-price.js" defer="defer"></script>
      <gp-product-price 
        gp-data='{"priceType":"regular","uid":"gYT0Ydb1Ns","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', "'" }}"}'
        
        class="gYT0Ydb1Ns data-[hidden=true]:hidden"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small)"
        data-hidden="false"
      >
        
    <div
      id="p-price-gYT0Ydb1Ns"
        class=""
        style=""
      >
      <div
        data-gp-text
        class="gp-price decoration-g-text-1 break-words"
        style="--tdc:text-1;--tdt:1;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:12px"
      >
      
                  {% if variant.price %} 
                    {{ variant.price | money}}
                  {% endif %}
                
      </div>
    </div>
      </gp-product-price>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcpH5rq0e1 relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product-price.js" defer="defer"></script>
      <gp-product-price 
        gp-data='{"priceType":"compare","uid":"g4gpRRLxf-","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', "'" }}"}'
        
        class="g4gpRRLxf- data-[hidden=true]:hidden"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small)"
        data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
      >
        
    <div
      id="p-price-g4gpRRLxf-"
        class=""
        style=""
      >
      <div
        data-gp-text
        class="gp-price line-through break-words"
        style="--tdc:#B4B4B4;--tdt:1;--ta:center;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:12px"
      >
      
                  {% if variant.compare_at_price  %} 
                    {{ variant.compare_at_price | money}}
                  {% endif %}
                
      </div>
    </div>
      </gp-product-price>
  
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gokHspV9r1"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--cg:4px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gokHspV9r1 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4Pcg69cTY relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--ta:left"
      class="overflow-hidden leading-[0] gqzBiUbqeK"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4Kz_-i33B relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--ta:left"
      class="overflow-hidden leading-[0] gfMvSk1Rq0"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="go3h-1xHrI relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--ta:left"
      class="overflow-hidden leading-[0] gJn1Ttv4Uz"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5qa2gHXJK relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--ta:left"
      class="overflow-hidden leading-[0] gc_iBtfXyZ"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-p5yXIN2X relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--ta:left"
      class="overflow-hidden leading-[0] gAadx9ZZKA"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJhHwfkwpg relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product-button.js" defer="defer"></script>
   {%- liquid 
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      gp-data='{"setting":{"actionEffect":"open-cart-drawer","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","label":"","outOfStockLabel":"Out Of Stock"},"disabled":"{{variant.available}}","variantID":"{{variant.id}}"}'
    >
        <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:32px;--bbrr:32px;--btlr:32px;--btrr:32px;--ta:right"
    class="{% unless variant.available %} !hidden {% endunless %}"
  >
    <button
      type="submit" data-id="g-WqBMdBeV" aria-label
      data-state="idle"
      class="g-WqBMdBeV max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:text-g-text-3 gp-button-atc"
      style="--hvr-bg:#242424;--bg:transparent;--hvr-c:var(--g-c-text-3, text-3);--c:#242424;--pl:12px;--pr:12px;--pt:12px;--pb:12px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:10px;--pb-mobile:10px;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:10px;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#242424;--hvr-bc:#242424"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible"
        style="--w:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M0 48A16 16 0 0 1 16 32H64a16 16 0 0 1 15.52 12.128L92.48 96H464a16 16 0 0 1 15.712 18.944l-48 256A16 16 0 0 1 416 384H128a16 16 0 0 1 -15.712 -13.056L64.32 115.424 51.52 64H16a16 16 0 0 1 -16 -16zM99.264 128l42.016 224h261.44l42.016 -224H99.264zM160 384a64 64 0 1 0 0 128 64 64 0 0 0 0 -128zm224 0a64 64 0 1 0 0 128 64 64 0 0 0 0 -128zm-224 32a32 32 0 1 1 0 64 32 32 0 0 1 0 -64zm224 0a32 32 0 1 1 0 64 32 32 0 0 1 0 -64z" /></svg></span>
      <span
        class="truncate group-data-[state=loading]:invisible "
        style=""
      >
        
      </span>
    </button>
  </div>
        <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:32px;--bbrr:32px;--btlr:32px;--btrr:32px;--ta:right"
    class="{% if variant.available %} !hidden {% endif %}"
  >
    <button
      type="button" data-id="g-WqBMdBeV" aria-label="Out Of Stock"
      data-state="idle"
      class="g-WqBMdBeV max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:text-g-text-3 gp-button-sold-out btn-disabled opacity-30 pointer-events-none"
      style="--hvr-bg:#242424;--bg:transparent;--hvr-c:var(--g-c-text-3, text-3);--c:#242424;--pl:12px;--pr:12px;--pt:12px;--pb:12px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:10px;--pb-mobile:10px;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:10px;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#242424;--hvr-bc:#242424"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>  

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible"
        style="--mr:8px;--w:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M0 48A16 16 0 0 1 16 32H64a16 16 0 0 1 15.52 12.128L92.48 96H464a16 16 0 0 1 15.712 18.944l-48 256A16 16 0 0 1 416 384H128a16 16 0 0 1 -15.712 -13.056L64.32 115.424 51.52 64H16a16 16 0 0 1 -16 -16zM99.264 128l42.016 224h261.44l42.016 -224H99.264zM160 384a64 64 0 1 0 0 128 64 64 0 0 0 0 -128zm224 0a64 64 0 1 0 0 128 64 64 0 0 0 0 -128zm-224 32a32 32 0 1 1 0 64 32 32 0 0 1 0 -64zm224 0a32 32 0 1 1 0 64 32 32 0 0 1 0 -64z" /></svg></span>
      <span
        class="truncate group-data-[state=loading]:invisible "
        style=""
      >
        Out Of Stock
      </span>
    </button>
  </div>
    </gp-product-button>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
    
              {%- endform -%}
            </gp-product>
        {% endfor %}
      
      </div>

    
    
      
    {%- endif -%}
    
{%- assign product = gpBkProduct -%}
{%- assign products = gpBkProducts -%}

      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Product List - Style 13",
    "tag": "section",
    "class": "gps-473555089143890950 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=473555089143890950)"
      }
    ],
    "blocks": []
  }
{% endschema %}
